{% extends 'base/index.html' %}
{% load static %}

{% block content%}
<style>
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        display: none;
    }
    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.7);
    }
    ::-webkit-scrollbar:hover {
        display: block;
    }
</style>

<div class="container">
    <div class="row mt-5 text-center">
        <div class="col">
            <h2>Welcome to D.A.R.T.</h2><hr>
            <h3><i>Decision Advantage in Real Time</i></h3><hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3 class="border-bottom border-secondary mb-4 mt-3">Your Events: </h3>
            {% for event in user_events %}
                <a class="custom-btn btn btn-secondary mb-3" href="{% url 'event' event.id %}">{{event.name}}</a>
            {% endfor %}
        </div>
    </div>
</div>
        
{% endblock content %}