<div>
    <div class="mt-3 mb-3">
        <a class="btn btn-secondary w-100" href="{% url 'event' event.id %}"><i class="bi bi-arrow-left"></i>&nbsp;Add comments</a>
    </div>
    <h1 class="mt-3 text-center">Filters</h1>
    <div>
        <h3 class="mt-3 text-center"><i>Sentiment</i></h3>
        <form action="" method="post">
            {% csrf_token %}
            <div class="row" style="overflow: hidden;">
                <div class="col-3">
                    <button type="submit" class="btn {% if sentiment_filter == 'all' %}btn-success{% else %}btn-secondary{% endif %} w-100" name="sentiment_filter" value="all">All</button>
                </div>
                <div class="col-3">
                    <button type="submit" class="btn {% if sentiment_filter == 'positive' %}btn-success{% else %}btn-secondary{% endif %} w-100" name="sentiment_filter" value="positive"><i class="bi bi-emoji-smile-fill"></i></button>
                </div>
                <div class="col-3">
                    <button type="submit" class="btn {% if sentiment_filter == 'neutral' %}btn-success{% else %}btn-secondary{% endif %} w-100" name="sentiment_filter" value="neutral"><i class="bi bi-emoji-neutral-fill"></i></button>
                </div>
                <div class="col-3">
                    <button type="submit" class="btn {% if sentiment_filter == 'negative' %}btn-success{% else %} btn-secondary{% endif %} w-100" name="sentiment_filter" value="negative"><i class="bi bi-emoji-frown-fill"></i></button>
                </div>
            </div>
        </form>
    </div>
    <hr>
    <div>
        <h3 class="mt-3 text-center"><i># Results</i></h3>
        <form action="" method="post">
            {% csrf_token %}
            <input type="range" class="form-range" id="numberPicker" min="1" max="10" value="{{n_results_filter}}" name="selected-n">
            <p class="text-center" id="selectedNumber">{{n_results_filter}}</p>
            <button name="update-n-results" id="updateButton" type="submit" class="btn btn-secondary w-100">
                Update
            </button>
        </form>
    </div>
    <hr>
    
    <div>
        <h3 class="mt-3 text-center"><i>Sensitivity</i></h3>
        <form action="" method="post">
            {% csrf_token %}
            <input type="range" class="form-range" id="numberPickerSensitivity" min=".1" max="2" step=".1" value="{{sensitivity}}" name="selected-sensitivity">
            <p class="text-center" id="selectedNumberSensitivity">{{ sensitivity }}</p>
            <button name="update-sensitivity" id="updateButtonSensitivity" type="submit" class="btn btn-secondary w-100">
                Update
            </button>
        </form>
    </div>
    <hr>

    <div class="text-center">
        <form action="" method="post">
            {% csrf_token %}
            <h3 class="mt-3 text-center"><i>Summarization</i></h3>
            <button class="btn {% if chat_object.query_dict.summarize %}btn-success{% else %}btn-secondary{% endif %}" type="submit" name="summarize">{% if chat_object.query_dict.summarize %}On{% else %}Off{% endif %}</button>
        </form>
    </div>
</div>

<hr>

<script>
    const numberPicker = document.getElementById('numberPicker');
    const selectedNumberOutput = document.getElementById('selectedNumber');
    numberPicker.addEventListener('input', function() {
      selectedNumberOutput.textContent = this.value;
    });

    document.addEventListener('DOMContentLoaded', function() {
        var numberPicker = document.getElementById('numberPicker');
        var updateButton = document.getElementById('updateButton');
        var nResults = parseInt('{{ n_results_filter }}');

        numberPicker.addEventListener('input', function() {
            var currentValue = parseInt(numberPicker.value);

            if (currentValue !== nResults) {
                updateButton.classList.remove('btn-secondary'); 
                updateButton.classList.add('btn-primary'); 
            } else {
                updateButton.classList.remove('btn-primary'); 
                updateButton.classList.add('btn-secondary'); 
            }
        });
    });

    const numberPickerSensitivity = document.getElementById('numberPickerSensitivity');
    const selectedNumberSensitivityOutput = document.getElementById('selectedNumberSensitivity');
    numberPickerSensitivity.addEventListener('input', function() {
      selectedNumberSensitivityOutput.textContent = this.value;
    });
    document.addEventListener('DOMContentLoaded', function() {
        var numberPickerSensitivity = document.getElementById('numberPickerSensitivity');
        var updateButtonSensitivity = document.getElementById('updateButtonSensitivity');
        var nSensitivity = parseFloat('{{ sensitivity }}');

        numberPickerSensitivity.addEventListener('input', function() {
            var currentValueSensitivity = parseFloat(numberPickerSensitivity.value);

            if (currentValueSensitivity !== nSensitivity) {
                console.log(currentValueSensitivity, nSensitivity)
                updateButtonSensitivity.classList.remove('btn-secondary'); 
                updateButtonSensitivity.classList.add('btn-primary'); 
            } else {
                updateButtonSensitivity.classList.remove('btn-primary'); 
                updateButtonSensitivity.classList.add('btn-secondary'); 
            }
        });
    });

    const summarizeButton = document.getElementById('summarizeButton');
    summarizeButton.addEventListener('click', () => {
        if (summarizeButton.innerText === 'On') {
            summarizeButton.innerText = 'Off';
            summarizeButton.classList.remove('btn-success');
            summarizeButton.classList.add('btn-secondary');
        } else {
            summarizeButton.innerText = 'On';
            summarizeButton.classList.remove('btn-secondary');
            summarizeButton.classList.add('btn-success');
        }
    });

</script>
