body, html {
    background-color: #1a1a1a;
    color: #ffffff;
    /* color-scheme: light dark; */
    font-family: Courier New, monospace;
}

a {
    text-decoration: none;
    text-transform: none;
    color: white;
}


::-webkit-scrollbar {
  width: 10px; /* for vertical scrollbar */
  height: 10px; /* for horizontal scrollbar */
  display: none; /* hide the scrollbar */
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* color of the thumb */
  border-radius: 5px; /* roundness of the thumb */
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.7); /* darker color on hover */
}
::-webkit-scrollbar:hover {
  display: block;
}
